h1 {font-family: 'Exo', sans-serif;text-align: center;}
h2 {font-family: 'Exo', sans-serif;text-align: center;}
h3 {font-family: 'Exo', sans-serif;text-align: center;}
h4 {font-family: 'Exo', sans-serif;text-align: center;}
h5 {font-family: 'Exo', sans-serif;text-align: center;}
h6 {font-family: 'Exo', sans-serif;text-align: center;}
p {font-family: 'Exo', sans-serif;font-size: 12px; text-align: left; width: 90%;}
li {font-family: 'Exo', sans-serif;text-align: center;}
a {font-family: 'Exo', sans-serif;font-size: 12px; text-align: left; width: 90%;}

.header {
  background-color: #cecece;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo img {
  width: 25%;
  height: auto;
  margin: 0 auto;
  display: block;
}

ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cecece;
    display: flex;
    justify-content: flex-end;
}

li {
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px
}

li a:hover {
    background-color: #b7b7b7;
}

.bakgrund {
  background-color: #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 7px 7px 7px rgba(0,0,0, 0.5);
  position: relative;
}


.block1 {
  display: flex;
  justify-content: center;
  flex: auto;
  padding-top: 200px;

}

.om-mig {
  flex-direction: column;
  text-align: left;
}

.om-migrubrik{
  margin-left: 50px;
}

.profilbild img {
  width: 100%;
  height: auto;
  margin-left: 500px;
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: flex-start;
}

.profilbild {
  width: 70%;
  padding: 20px;
}

.text {
  margin-left: 50px;
}

.ram-runt-tjanster {
  background-color: #cecece;
  padding: 50px;

}

.tjanster {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 30%;
  border: 2px #b7b7b7;
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 5px 12px rgba(0,0,0, 0.5);
  background-color: #cecece;
  border-radius: 20px;

}

.projekt {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
}

.botten {
  display: flex;
  justify-content: center;
  background-color: #cecece;
  padding: 50px;
}

.kontakta-mig-text {
text-align:left;

}
.kontaktlank img {
display: flex;
justify-content: flex-end;
flex-direction: row;
  width: 40px;


<-- för att göra sidan responsiv -->
@media screen and (max-width: 500px) {

}
